package layout

templ Layout() {
	<html>
		<head>
           <script src="https://unpkg.com/htmx.org@2.0.2"></script> 
        </head>
		<body hx-boost="true">
			<nav>
                <h1>This is a navbar</h1>
                <a href="/">home</a>
				<a href="/blog">Blog</a>
				<a href="/about">About</a>
			</nav>
			{ children... }
		</body>
	</html>
}
