package layout

import "blog/view/components"

templ Layout() {
<html>

<head>
	<script src="https://unpkg.com/htmx.org@2.0.2"></script>
	<link href="/assets/styles.css" rel="stylesheet" />
	<link href="/favicon.ico" rel="icon" />

	<title>Mathias Tejeda</title>
</head>

<body hx-boost="true">
	@components.Navbar()
	{ children... }
</body>

</html>
}
