package about

import "blog/internal/view/pages/layout"

templ About() {
	@layout.Layout() {
		<h1>Estoy aca:</h1>
		<ul>
			<li><a href="https://www.linkedin.com/in/tejedamathias/" target="_blank">Linkedin</a></li>
			<li><a href="https://github.com/mathitejeda">Github</a></li>
			<li><a href="/">Sitio web</a></li>
		</ul>
	}
}
